/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


a:hover{
    transform: scale(1.1);
    transition: background-color 2s ease;
}
/* @layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }

  } */